.modals__list{
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
  padding: 10px;
  &:not(:last-of-type){
    border-bottom: 1px solid $grey;
  }
  &__item{
    flex: 1;
  }
}

.teacher_section{
  margin-bottom: 3em;
}

.mandatory__fields{
  margin-top: 1em;
}

.former__modals__list{
  display: flex;
  flex-wrap: wrap;

}
.former__modals__item{
  margin: 0.5em;
  background-color: $white;
  border-radius: 3px;
  padding: 1em;
  min-width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.former__modals__courses__list{
  padding: 10px;
}
.former__modals__courses__item{
  padding:5px;
  &:not(:last-of-type){
    border-bottom: 1px solid $grey;
  }
}

.link--info{
  border-bottom: 1px solid $dark_purple;
  transition: 0.3s;
  &:hover{
    background-color: $dark_purple;
    transition: 0.3s;
    color: $white;
  }
}

.empty__courses{
  padding: 1em;
}