/*******************************/
/***         LAYOUT        ***/
/****************************/

// New session form
.form__container--grid{
  display: grid;
  grid-column-gap: 30px;
  grid-template-areas: "a a" "b b" "c c" "d d" "e e" "f f";
  @include mq('tablet'){
    grid-template-areas: "a b" "c d" "e e" "f f";
  }
}
.a{
  grid-area: a;
}
.b{
  grid-area: b;
}
.c{
  grid-area: c;
}
.d{
  grid-area: d;
}
.e{
  grid-area: e;
}
.f{
  grid-area: f;
}

// New teacher grid
.form_teacher_container{
  display: grid;
  grid-column-gap: 30px;
  grid-template-areas: "name name" "mail mail";
  @include mq('tablet'){
    grid-template-areas: "name mail" ;
  }
}
.name{
  grid-area: name;
}
.mail{
  grid-area: mail;
}

// single session grid
.grid__parent{
  display: grid;
  grid-column-gap: 30px;
  grid-template-areas: "a a" "b b" "c c";
  @include mq('tablet'){
    grid-template-areas: "a b" "c c";
  }
}
.one{
  grid-area: a;
}
.two{
  @include mq('tablet'){
    justify-self: end;
  }
  grid-area: b;
}
.three{
  grid-area: c;
}

// modals form
.grid__container{
  display: grid;
  grid-column-gap:5%;
  grid-template-areas:'a' 'b' 'c' 'd' 'e' 'f' 'g' 'h';
  @include mq('tablet'){
    grid-template-areas:'a b' 'c d' 'e f' 'g g' 'h h';
  }
  @include mq('desktop'){
    grid-template-areas:'a b c' 'd e f' 'g g g' 'h h h';
  }
}

.grid_a{
  grid-area: a;
}
.grid_b{
  grid-area: b;
}
.grid_c{
  grid-area: c;
}
.grid_d{
  grid-area: d;
}
.grid_e{
  grid-area: e;
}
.grid_f{
  grid-area: f;
}
.grid_g{
  grid-area: g;
}
.grid_h{
  grid-area: h;
}


.teacher__grid__container{
  display: grid;
  grid-template-areas:'a' 'b';
  @include mq('tablet-wide'){
    grid-template-areas:'a b' 'a b';
    grid-column-gap: 30px;
    grid-template-columns: 295px 1fr;
  }
  &--child_1{
    grid-area: b;
  }
  &--child_2{
    grid-area: a;
  }
}

// auth pages
.body__home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}




// session card grid
.dashboard__session__body{
  display: grid;
  grid-column-gap: 30px;
  grid-template-areas: "a" "b" "c";
  @include mq('phablet'){
    grid-template-areas: "a c" "b b";
  }
  @include mq('tablet'){
    grid-template-areas: "a b c";
  }
}
.card__grid__one{
  grid-area: a;
}
.card__grid__two{
  grid-area: b;
}
.card__grid__three{
  grid-area: c;
}

