.card__sessions{
  margin-top: 2em;
  &__list{
    margin: 1em 0;
  }
  &__item{
    background-color: $white;
    border-radius: 3px;
    box-shadow: $small_shadow;
    margin-bottom: 1em;
  }
  &__body{
    padding: 1em 2em;
  }
  &__title{
    font-size: 18px;
    padding-bottom: 10px;
    font-weight: 800;
  }
  &__mail{
    margin-top: 1em;
  }
  &__date{
    margin-bottom: 2em;
    @include mq('tablet'){
      margin-bottom: 0;
    }
  }
}
.card__sessions__status{
  width: 200px;
  text-align:left;
  &--active{
    color: #77ba71;
  }
  &--close{
    color:$red;
  }
  &--awaiting{
    color: #e29e5b;
  }
}
.card__sessions__status__text{
  margin-left: 1.2em;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  &--active:before{
    background-color: #9fcd73;
    box-shadow: 0 0 5px #9dff6e;
  }
  &--close:before{
    background-color:$red;
    box-shadow: 0 0 5px rgba(255, 63, 73, 0.79);
  }
  &--awaiting:before{
    background-color: rgb(255, 207, 129);
    box-shadow: 0 0 5px rgba(255, 207, 129, 0.44);
  }
  &:before{
    @include pseudo();
    top:6px;
    left:-20px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }
}
.card__session__dashboard{
  background-color: #fff;
  border-radius: 5px;
  padding: 2em 5%;
  margin-bottom: 1em;
  position: relative;
  transition: 0.3s;
  &:hover{
    box-shadow: $big_shadow;
    transition: 0.3s;
  }
}
.link__full{
  position: absolute;
  height: 100%;
  width: 100%;
  top:0;
  left: 0;

}

.dashboard__session__body{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.card__sessions__mail{
  max-width: 960px;
  line-height: 1.5;
  p, ul{padding-bottom:0.7em}
  h1{font-size: 25px; padding-bottom:0.5em}
  h2{font-size:20px; padding-bottom:0.5em}
  h3{font-size:18px; padding-bottom:0.5em}
  em{font-weight: 700}
  strong{font-weight: 700}
  ul{list-style: disc; margin-left: 2em}
}
