.form__info{
  font-size: 18px;
  margin-bottom: 16px;
}
.list__teachers{
  margin-top: 1em;
}
.list__teachers__item{
  padding: 12px 20px;
  margin-bottom: 0.3em;
  &:hover{
    background-color: $grey;
  }
}
.list__teachers__item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  @include mq('tablet'){
    p{
      flex: 1;
    }
  }

}
.list__teachers__form{
  @include mq('tablet'){
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
  }

}
.list__teachers__item:hover .list__teachers__form{
  visibility: visible;
  opacity: 1;
  transition: 0.3s;
}

