/*******************************/
/***        COLOURS        ***/
/****************************/

$white : #fff;
$grey : #ebf1f4;
$grey_hover : rgba(248, 250, 251, 0.78);
$black : #2e2e2e;
$dark_purple : #361d32;
$purple : #543c52;
$pink : #edd2cb;
$light_pink : #f1e8e6;
$red : rgb(239, 86, 78);

$font_color:#2e2e2e;
$background_color: #ebf1f4;