/*******************************/
/***         FONTS         ***/
/****************************/

@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700&display=swap');
// font family
$font_body :'Nunito', Helvetica, Arial, sans-serif;
// font size
$font_base: 16px;

$line_height:1.5;